.mf-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 250;
  direction: ltr;
  contain: layout style size;
  pointer-events: none;
  transition: opacity 0.3s, color 0.4s;
}
.mf-cursor:before {
  content: "";
  position: absolute;
  top: -24px;
  left: -24px;
  display: block;
  width: 48px;
  height: 48px;
  transform: scale(0.2);
  background: currentColor;
  border-radius: 50%;
  transition: transform 0.25s ease-in-out, opacity 0.1s;
}
.mf-cursor.-inverse {
  color: white;
}
@supports (mix-blend-mode: exclusion) {
  .mf-cursor.-exclusion {
    mix-blend-mode: exclusion;
  }
  .mf-cursor.-exclusion:before {
    background: white;
  }
}
.mf-cursor.-pointer:before {
  transform: scale(0.15);
}
.mf-cursor.-text:before {
  opacity: 0.85;
  transform: scale(2);
}
.mf-cursor.-text.-active:before {
  transform: scale(1.6);
  transition-duration: 0.2s;
}
.mf-cursor.-icon:before {
  transform: scale(1.5);
}
.mf-cursor.-icon.-active:before {
  transform: scale(1.4);
}
.mf-cursor.-hidden:before {
  transform: scale(0);
}
.mf-cursor-text {
  position: absolute;
  left: -35px;
  width: 70px;
  transform: scale(0) rotate(10deg);
  translate: 0px -50%;
  overflow-wrap: break-word;
  opacity: 0;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  transition: opacity 0.4s, transform 0.3s;
}
.mf-cursor.-text .mf-cursor-text, .mf-cursor.-icon .mf-cursor-text {
  opacity: 1;
  transform: scale(1);
}
.mf-cursor-media {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
}
.mf-cursor-media img, .mf-cursor-media video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .mf-cursor-media img, .mf-cursor-media video {
    position: static;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transform: translateZ(0);
  }
}
.mf-cursor-media-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scale(0) translateZ(0);
  padding: 1px;
  opacity: 0;
  border-radius: 50%;
  transition: transform 0.35s, opacity 0.2s 0.2s;
}
.mf-cursor.-media .mf-cursor-media-box {
  opacity: 1;
  transform: scale(0.696);
  transition-duration: 0.4s, 0.4s;
  transition-delay: 0s, 0s;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

body {
  min-height: 101vh;
}

img {
  max-width: 100%;
  height: auto;
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.5rem;
  border-radius: 50px;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: white;
  cursor: wait;
  display: flex;
  justify-content: center;
  align-items: center;
}
#preloader span {
  overflow: hidden;
}
#preloader.ready {
  transform: translateY(100%);
  transition: transform cubic-bezier(0.66, 0, 0.79, 0.31) 0.7s 0.3s;
}
#preloader.ready div {
  transform: translateY(100%);
  transition: transform cubic-bezier(0.66, 0, 0.79, 0.31) 0.5s;
}

#preview-list {
  /* border-top: 1px solid var(--bs-body-color); */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  --preview-cols: 1;
  --masonry-height: 2000px;
  height: var(--masonry-height);
  flex-flow: column wrap;
  position: relative;
  overflow: hidden;
}
#preview-list:before, #preview-list:after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}
#preview-list.masonry-calculating .preview-list__item {
  margin: 0;
}

.preview-list__item {
  min-height: 200px;
  display: inline-flex;
  flex-direction: column;
  /* flex: 1 0 calc(100% / var(--preview-cols)); */
  justify-content: center;
  border-color: var(--bs-body-color);
  border-width: 0px;
  border-style: solid;
  /* margin-left: -1px; */
  border-left-width: 1px;
  border-right-width: 1px;
  /* border-top-width: 1px; */
  /* margin-top: -1px; */
  border-bottom-width: 1px;
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  width: calc(100% / var(--preview-cols));
  order: 1;
}
.preview-list__item:nth-child(1) {
  border-top-width: 1px;
}
.preview-list__item img {
  border-radius: 15px;
}

@media (min-width: 768px) {
  #preview-list {
    --preview-cols: 2;
  }
  .preview-list__item:nth-child(2n+1) {
    order: 1;
  }
  .preview-list__item:nth-child(2n+2) {
    order: 2;
    margin-left: -1px;
  }
  .preview-list__item:nth-child(2) {
    border-top-width: 1px;
  }
}/*# sourceMappingURL=style.css.map */